page{
    height: 100%;
}
.backcolor {
    background-color: #ccc;
    height: 100%;
    .good_detail {
        font-size: 20rpx;
        padding: 10rpx 0;
    }

    .good_backcolor {
        background-color: #fff;
        border: 1rpx solid #000;
        .all_check {
            checkbox{
                padding: 5rpx 0 3rpx 5rpx;
            }
        }

        .goods_content {
            display: flex;
            view {
                flex         : 1;
                justify-items: center;
                align-items  : center;
                checkbox {
                    height: 100%;
                    display      : flex;
                    justify-items: center;
                    align-items  : center;
                }
            }

            navigator {
                display: flex;
                flex  : 9;
                .image {
                    image{
                        width: 80%;
                    }
                   
                }

                .conent {
                    display: flex;
                    flex-direction: column;
                    .goods_up{
                        width: 100%;
                        display: flex;
                    }
                    .goods_bottom{
                        width: 100%;
                        display: flex;
                        .good_price{
                            justify-content: left;
                        }
                        .add_count{
                            display: flex;
                            .button-left{
                                padding: 0;
                                width: 50rpx;
                                border: 1rpx solid #ccc;
                                z-index: 100;
                            }
                            .button-right{
                                padding: 0;
                                width: 50rpx;
                                margin-right: 20rpx;
                                border: 1rpx solid #ccc;
                                z-index: 100;
                            }
                            .number{
                                border-top: 1rpx solid #ccc;
                                border-bottom: 1rpx solid #ccc;
                                display: flex;
                                align-items: center;
                                /*实现水平居中*/
                                justify-content: center;
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
    }
}